/* Fonts */
@font-face {
	font-family: 'Exo2';
	src: url('/assets/fonts/exo2/exo2-light-webfont.eot');
	src: url('/assets/fonts/exo2/exo2-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/exo2/exo2-light-webfont.woff') format('woff'),
	url('/assets/fonts/exo2/exo2-light-webfont.ttf') format('truetype'),
	url('/assets/fonts/exo2/exo2-light-webfont.svg#exo_2regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('/assets/fonts/exo2/exo2-regular-webfont.eot');
	src: url('/assets/fonts/exo2/exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/exo2/exo2-regular-webfont.woff') format('woff'),
	url('/assets/fonts/exo2/exo2-regular-webfont.ttf') format('truetype'),
	url('/assets/fonts/exo2/exo2-regular-webfont.svg#exo_2regular') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('/assets/fonts/exo2/exo2-thin-webfont.eot');
	src: url('/assets/fonts/exo2/exo2-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/exo2/exo2-thin-webfont.woff') format('woff'),
	url('/assets/fonts/exo2/exo2-thin-webfont.ttf') format('truetype'),
	url('/assets/fonts/exo2/exo2-thin-webfont.svg#exo_2regular') format('svg');
	font-weight: 300;
	font-style: normal;
}

.theme-clean #main-navbar {
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
	box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
}
.theme-clean #main-navbar .navbar-header {
	background: #ffffff;
}
.theme-clean #main-navbar .navbar-header a {
	color: #555555;
}
.theme-clean #main-navbar .navbar-brand {
	color: #555555;
}
.theme-clean #main-navbar .navbar-toggle,
.theme-clean #main-navbar #main-menu-toggle {
	color: #555555;
}
.theme-clean #main-navbar #main-menu-toggle {
	background: #f8f8f8;
}
.theme-clean #main-navbar #main-menu-toggle .fa:before {
	color: #555555;
}
.theme-clean #main-navbar .navbar-collapse {
	border-top: 1px solid #f1f1f1;
	background: #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.theme-clean #main-navbar .dropdown > a,
.theme-clean #main-navbar .dropdown-menu > li > a,
.theme-clean #main-navbar .nav > li > a {
	color: #555555;
}
.theme-clean #main-navbar li + li,
.theme-clean #main-navbar .nav + .nav,
.theme-clean #main-navbar .nav + .right {
	border-top: 1px solid #f1f1f1;
}
.theme-clean #main-navbar .dropdown.open > a {
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #dfdfdf;
	margin-top: -1px;
	background: #f6f6f6;
	color: #555555;
}
.theme-clean #main-navbar form.navbar-form {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.theme-clean #main-navbar form.navbar-form .form-control {
	background: #f8f8f8;
	border: none;
	color: #999999;
}
.theme-clean #main-navbar form.navbar-form .form-control:focus {
	color: #555555;
	-webkit-box-shadow: none;
	box-shadow: none;
}
@media (min-width: 768px) {
	.theme-clean #main-navbar .navbar-header {
		background: #ffffff;
	}
	.theme-clean #main-navbar .navbar-collapse {
		background: #ffffff;
		border: none;
	}
	.theme-clean #main-navbar .navbar-collapse > div > .navbar-nav {
		border-left: 1px solid #f1f1f1;
	}
	.theme-clean #main-navbar .right > .navbar-nav > li {
		border-left: 1px solid #f1f1f1;
		border-right: none;
	}
	.theme-clean #main-navbar .navbar-nav > li {
		border-right: 1px solid #f1f1f1;
	}
	.theme-clean #main-navbar .navbar-nav > li > a {
		color: #555555;
	}
	.theme-clean #main-navbar .navbar-nav > li > a:hover,
	.theme-clean #main-navbar .navbar-nav > li.active > a,
	.theme-clean #main-navbar .navbar-nav > li.dropdown.open > a {
		background: #f8f8f8;
		border-top: none !important;
		border-bottom: none !important;
	}
	.theme-clean #main-navbar li + li,
	.theme-clean #main-navbar .nav + .nav,
	.theme-clean #main-navbar .nav + .right {
		border-top: none;
	}
	.theme-clean #main-navbar .dropdown.open > a {
		margin: 0;
		border-top: none;
	}
	.theme-clean #main-navbar .dropdown-menu {
		background: #ffffff;
		padding: 5px 0;
	}
	.theme-clean #main-navbar .dropdown-menu .divider {
		background-color: #f1f1f1;
	}
	.theme-clean #main-navbar .dropdown-menu > li > a {
		color: #555555;
	}
	.theme-clean #main-navbar .dropdown-menu > li > a:hover {
		background: #f1f1f1;
	}
	.theme-clean #main-navbar .widget-notifications a {
		/*color: !important;*/
	}
	.theme-clean #main-navbar .widget-notifications .notification,
	.theme-clean #main-navbar .widget-notifications .notifications-link {
		border-color: #f1f1f1;
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.theme-clean #main-navbar .widget-notifications .notification-description {
		color: #999;
	}
	.theme-clean #main-navbar .widget-notifications .notification-ago {
		color: #bbb;
	}
	.theme-clean #main-navbar .widget-notifications .notifications-link:hover {
		background: #f1f1f1;
	}
	.theme-clean #main-navbar .widget-messages-alt a {
		/*color: !important;*/
	}
	.theme-clean #main-navbar .widget-messages-alt .message,
	.theme-clean #main-navbar .widget-messages-alt .messages-link {
		border-color: #f1f1f1;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.theme-clean #main-navbar .widget-messages-alt .message-subject {
		color: #555555 !important;
	}
	.theme-clean #main-navbar .widget-messages-alt .message-description {
		color: #aaa;
	}
	.theme-clean #main-navbar .widget-messages-alt .message-description a {
		color: #888;
	}
	.theme-clean #main-navbar .widget-messages-alt .messages-link:hover {
		background: #f1f1f1;
	}
	.theme-clean.main-menu-right #main-navbar .navbar-header,
	.theme-clean.mmc #main-navbar .navbar-header {
		background: #ffffff;
	}
	.theme-clean.main-menu-right #main-navbar .navbar-header {
		border-right: 1px solid #f1f1f1;
	}
}

td.thin, th.thin { width: 1%; white-space: nowrap; }
.text-center { text-align: center; }
.notes-list tr {  }
.notes-list tr td a { text-decoration: underline; }

tr.status-1 td { color: #009900; }
tr.status-2 td { color: #DD1144; }
tr.status-3 td { color: #ff6600; }
tr.status-4 td { color: #2971b5; }

.datepicker { z-index: 1200 !important; }

.solid { margin: -18px -18px 0 -18px; background: #fff; box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05); }
.solid .table tr > td:first-child, .solid .table tr > th:first-child { padding-left: 20px; }


.li-search { border-right: none !important; }

.navbar-brand { font-size: 14px !important; }

.theme-clean #main-navbar form.navbar-form .search-field {
	width: 400px;
	border: 1px solid #f8f8f8;
	transition: all 0.5s ease;
}
.theme-clean #main-navbar form.navbar-form .search-field:hover { background: #fbfbfb; border: 1px solid #67cea6; }
.theme-clean #main-navbar form.navbar-form .search-field:focus { background: #fbfbfb; border: 1px solid #67cea6; }

.select-block { padding-left: 1px; }
.select2-choice { overflow: visible !important; }

.has-feedback .fa { right: 9px; }

.help-block { display: none; }